body{
    vertical-align: middle;
}

.slider-content
{
    text-align: center;
}

abbr{
    text-decoration: none;
}

/* --- proPic image ---- */
#proPic
{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 5px solid white;
    pointer-events: visible;
}

.mdl-textfield__input:-webkit-autofill + .mdl-textfield__label {
    top: -20px; 
    transform: scale(0.75);
}

#closebtn
{
    z-index: 2;
    left: 5px;
    top: 5px;
    position: fixed;
    color: white;
}


/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/*Style the section*/
section{
    margin: 20px 20px 20px 20px;
}
/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
#myfoot {
    background-color: #777;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    position:fixed;
    width: 100%;
    clear: both;
    bottom:0;
    left:0;
    right:0;
}

#myhead, #myfoot
{
    box-shadow: 0 0 10px slategray;
    z-index: 2;
}

#author
{
    cursor: pointer;
}

#author:hover
{
 box-shadow: 0 0 10px white;   
}


.tooltip1 {
    position: relative;
    z-index: 4;
    float: right;
    background-color: #4875B4;
    color: white;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 12px;
  }
  
  .tooltip1:hover
  {
    box-shadow: 0 0 10px #4875B4;
    transition: 0.3s;
  }
  /* Tooltip text */
  .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 40px;
    z-index: 10px;
    right: 105%;
    font-size: 12px;
    text-align: center;
  }
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext1 {
visibility: visible;
}

.labels
{
    float: left;
    color: #4875B4;
    font-size: 12px;
}

#mdl-button
{
    background-color:#4875B4;
}

#loader-section
{
    /* border: 2px solid; red; */ /*for testing only */
    height: 400px;
    vertical-align: middle;
}

#loader
{
    border: 16px solid #b8b8b8;
    border-radius: 50%;
    border-top: 16px solid #4875B4;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 50%;
    margin-left: 30%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loginsect
{
    text-align: center;
    vertical-align: middle;
}

#extractdatapage
{
    margin-bottom: 100px;
}

#logout-button
{
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 3;
}

#logout-icon
{
    height: 0.6em;
    width: 0.6em;
    cursor: pointer;
    filter: invert(94%) /*sepia(100%) saturate(0%) hue-rotate(149deg) brightness(102%) contrast(102%)*/;
    box-shadow: 0 0 30px #B78A4B;
    border-radius: 35px;
    transform: rotate(0deg);
    transition: 0.5s;
}

#logout-icon:hover
{
    height: 0.7em;
    width: 0.7em;
    transform: rotate(360deg);
    transition: 0.5s; 
}